# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Temporários
*.tmp
*.temp
~*
